<mat-horizontal-stepper>
    <mat-step>
        <ng-template matStepLabel>Your products</ng-template>
        <div *ngIf="(products$ | async) as products">
            <p *ngIf="products.length === 0">don't exist products</p>
            <div class="row" *ngFor="let product of (products | groupProducts) as products">
              <div class="col-xs-12 col-sm-2 col-md-2">
                <div class="box">
                    <a matBadgeColor="accent" 
                       matBadgePosition="above before" 
                       matBadgeSize="large" 
                       [matBadge]="product.quantity">

                        <img class="image"  [src]="'data:image/jpeg;base64,'+ product.productImage[0].fileImage" alt="">
                    </a>
                </div>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-5">
                <div class="box">
                  {{ product.title }}
                </div>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-5">
                <div class="box">
                  {{ product.price }}
                </div>
              </div>
            </div>
        </div>        
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Personal Information</ng-template>
        <h1>contenifo</h1>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Payment</ng-template>
        <h1>contenifo</h1>
      </mat-step>    
</mat-horizontal-stepper>

